doctype html
html(lang="en")
    include ../Modulo/head.pug
    body 
        include ../Modulo/header.pug

        include ../Modulo/main.pug

            h1 Inicio de Contrato
            br
            p
                a(class="btn btn-success",href=("/Contrato/Create")) Ingresar un nuevo Contrato
            table(class="table")
                thead
                    tr
                        th Cod. Contrato
                        th Cod. Inmueble
                        th Inquilino
                        th Fecha Inicio
                        th Fecha Final
                        th Monto
                        th acciones
                tbody
                    if allContratos
                        for val in allContratos
                            tr
                                td= val.id
                                td= val.Inmuebles.Direccion
                                td= val.Inquilinos.Nombre
                                td= val.FechaInicio
                                td= val.FechaFinal
                                td= val.Monto
                                td
                                    a(class="btn btn-warning",href=(`/Contrato/Update/${val.id}`),title="Editar",style="margin-right: 2px;")
                                        i(class="fas fa-pencil-alt")

                                    a(class="btn btn-info",href=("/#"),title="Detalles",style="margin-right: 2px;")
                                        i(class="fas fa-book")

                                    a(class="btn btn-danger",href=(`/Contrato/Delete?id=${val.id}`),title="Eliminar",style="margin-right: 2px;")
                                        i(class="fas fa-trash-alt")

    include ../Modulo/footer.pug