doctype html
html(lang="en")
    include ../Modulo/head.pug
    body 
        include ../Modulo/header.pug

        include ../Modulo/main.pug

            h1 Detales de Usuario
            br
            <div>
                hr
                div(class="row")
                    div(class="col-sm-6")
                        dl(class="row")
                            dt(class = "col-sm-2")= "Nombre"

                            dd(class = "col-sm-10")= Usuario.Nombre + " " + Usuario.Apellido
                                
                            dt(class = "col-sm-2")= "Email"

                            dd(class = "col-sm-10")= Usuario.Email

                            dt(class = "col-sm-2")= "Rol"
                                
                            dd(class = "col-sm-10")= Usuario.Rol
                    div(class="col-sm-6")
                        dl(class="row")
                            dt(class = "col-sm-2")= "Avatar"

                            dd(class = "col-sm-10")
                                img(src=`/${Usuario.Avatar}` class="imagenDetalles")
            
            a(href="/Usuario/show",class="btn btn-primary",style="margin-right: 2px;") Volver 

                        
    include ../Modulo/footer.pug